* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  width: 100wh;
  background-color: rgb(255, 255, 255);
}

.header {
  background-color: antiquewhite;
  height: 100px;
  width: 100wh;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: center;
  padding-top: 30px;
}
.handler {
  margin-top: 50px;
  text-align: center;
}

.sort {
  background-color: aquamarine;
  border: none;
  font-size: 1.3rem;
  margin: 10px 30px;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
}
.random {
  background-color: aquamarine;
  border: none;
  font-size: 1.3rem;
  margin: 10px 30px;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
}
.speedController {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px auto;
  font-size: 2rem;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  position: relative;
  margin: auto;
  transform: translateX(-310px);
  margin-top: 50px;
}
.bar {
  width: 35px;
  height: 100px;
  background-color: skyblue;
  text-align: center;
  font-size: 1rem;

  border-radius: 3px;

  position: absolute;
}

.active {
  background-color: #ff0000;
}

.current {
  background-color: blue;
}

.down {
  top: 500px;
}
.green {
  background-color: green;
}

.yellow {
  background-color: rgb(255, 165, 0);
}
